---
title: Home
---

<h1>Centro de Competência em Open Source</h1>

<hr />

<h2>Projetos em destaque</h2>
<div class="highlights">
  {% for destaque in site.data.destaques %}
  <article>
    <h3>{{ destaque.name }}</h3>
    {{ destaque.text }}
  </article>
  {% endfor %}
</div>

<hr />

<h2>Últimas postagens</h2>
{% for post in site.posts %}
{% include listagem-post.html element="h3" %}
{% endfor %}
