<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}Centro de Competência em Open Source</title>
    <meta
      name="description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="icon" href="/assets/favicon.svg">
  </head>
  <body>

    <header>
      <nav>
        <span class="title"><a aria-label="CCOS" href="/">{% include icones/logo.svg %}</a></span>
        <ul>
          {% for item in site.data.navegacao %}
          <li>
            <a {% if page.title == item.name %} aria-current="page" {% endif %} href="/{{ item.link }}">
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <hr />
    <footer>
      <address>
        <small>
          Centro de Competência em Open Source
          <br />
          <a href="https://icmc.usp.br">Instituto de Ciências Matemáticas e de Computação</a>
          <br />
          Av. Trabalhador São-carlense, 400.
          São Carlos, SP
        </small>
      </address>
      <p>
        <small>
          Copyleft CCOS, 2021 -
          <a href="https://gitlab.com/misterio77/ccos-prototipo">código fonte</a>
        </small>
      </p>
    </footer>

  </body>
</html>
